<div class="wrapper" style="height: 101px;">
        <div class="item">
          <span>{{qn.num}}</span>
          <div class="arrow">
            <div class="arrow-right"></div>
          </div>
        </div>
        <div class="question">
          <span> {{qn.label}}
            <span class="asterisk">*</span>
          </span>
        </div>
        <div class="content">
          <div class="content-wrapper">
            <div class="attachment-wrapper">
              <div class="control">
                <div class="input">
                  <input class="" setfocusinput type="text" autocomplete="off" [(ngModel)]="qn.answer">
                </div>
              </div>
              <div class="clear"></div>
            </div>
            <div class="clear"></div>
            <div class="message ">
              <span></span>
              <div></div>
            </div>
            <div class="confirm container step0">
              <div class="button-wrapper confirm">
                <div class="button nav enabled">
                  <span>OK</span>
                  <!-- <span class="confirm"></span> -->
                  <span>&nbsp;</span>
                </div>
              </div>
              <div class="text">press
                <strong>ENTER</strong>
              </div>
            </div>
          </div>
        </div>
      </div>